{% extends "DokkanBundle::layout.html.twig" %}

{% block content %}

    <table cellpadding="5" cellspacing="2" style="text-align: justify; width: 1840px;">
    <tbody><tr><td bgcolor="#1f7cec" width="150"><div style="text-align: center;">
    <span style="color: white;"><b><span style="color: white;">&nbsp; </span><span style="color: white;">{% trans %}titol_traduccio_entrades{% endtrans %}</span></b></span></div>
    </td></tr>
    </tbody></table>
    
    <p>
           
    <div style="text-align:center;">
        <a href="{{path("dokkan_lang",{"_locale":"es"})}}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/1200px-Flag_of_Spain.svg.png" width="37" height="25"/></a>
        <a href="{{path("dokkan_lang",{"_locale":"en"})}}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Flag_of_the_United_Kingdom_%281806%29.svg/1200px-Flag_of_the_United_Kingdom_%281806%29.svg.png" width="37" height="25"/></a>
        <a href="{{path("dokkan_lang",{"_locale":"cat"})}}"><img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Bandera_Estelada_de_Catalunya.png" width="37" height="25"/></a>
    </div>

    <p>
    
    <table cellpadding="5" cellspacing="2" style="text-align: justify; width: 1840px;">
    <tbody><tr><td bgcolor="#1f7cec" width="150"><div style="text-align: center;">
    <span style="color: white;"><b><span style="color: white;">&nbsp; </span><span style="color: white;">{% trans %}titol_entrades_entrades{% endtrans %}</span></b></span></div>
    </td></tr>
    </tbody></table>
        
    <p> 
    
    
{% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for entrada in entrades %}
    <div class="col-lg-11">        
        <h2>{{entrada.titol}}</h2>
        <p><b>Autor: </b>{{entrada.usuari.nom}}</p>
        <p><b>Contingut:</b></p>

        <table width="100%" align="justify" border="1" cellspacing="0" cellpadding="0"><tr><td><fieldset>{{entrada.contingut | raw}}</fieldset></td></tr></table>
        <p>
        <p><b>Categoria:</b> {{entrada.categoria}}</p>
        
        {%if (app.user.id is defined) and (entrada.usuari.id == app.user.id) %}
        <p>
            <a href="{{path("dokkan_delete_entrada",{"id":entrada.id})}}" class="btn btn-danger">{% trans %}btn_del_entrades{% endtrans %}</a>
            <a href="{{path("dokkan_edit_entrada",{"id":entrada.id})}}" class="btn btn-warning">{% trans %}btn_edit_entrades{% endtrans %}</a>
            {# Prova  #}
             <a href="{{path("dokkan_add_comentari",{"id":entrada.id})}}" class="btn btn-info">{% trans %}btn_add_comentaris{% endtrans %}</a>
            {# Prova  #}
        </p>
        {%endif%}
        
        
        {# afegit #}
        
        <h3>Comentaris</h3>
        {% for comentari in entrada.comentari %}
            <p><b>Autor del Comentari:</b> {{comentari.usuari.nom}}</p>
            <p><b>Comentari:</b> {{comentari.contingut | raw}}</p>
            
            {%if ((app.user.id is defined) and (comentari.usuari.id == app.user.id)) or (comentari.usuari.role != "ROLE_ADMIN") %}
            <p>
            <a href="{{path("dokkan_delete_comentari",{"id":comentari.id})}}" class="btn btn-danger">Esborrar</a>
            <a href="{{path("dokkan_edit_comentari",{"id":comentari.id,"id_ent":entrada.id})}}" class="btn btn-warning">Editar</a>
            {# <a href="{{path("dokkan_edit_comentari",{"id":comentari.id}{"ide":entrada.id})}}" class="btn btn-warning">Editar</a> #}
            </p>
            {%endif%}
            <hr/>
        {% endfor %}
        
        {# afegit #}
        
        
        <div class="clearfix"></div>
        <hr/>
    </div>
    
    <div class="clearfix"></div>
    
    {# <h2>Comentaris</h2> #}
    {# {{ knp_disqus_render('Comentaris', {'identifier': '/entrades', 'limit': 10}) }} #}
    
{% endfor %}

<div class="navigation">
        {{ knp_pagination_render(entrades) }}
</div>
{% endblock %}