{% extends "DokkanBundle::layout.html.twig" %}

{% block content %}

{% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for entrada in entrades %}
    <div class="col-lg-11">        
        <p><strong>{{entrada.titol}}</strong></p>
        <p>Autor:{{entrada.usuari.nom}}</p>
                
        {%if (app.user.id is defined) and (entrada.usuari.id == app.user.id) %}
        <p>
            <a href="{{path("dokkan_delete_entrada",{"id":entrada.id})}}" class="btn btn-danger">Esborrar</a>
            <a href="{{path("dokkan_edit_entrada",{"id":entrada.id})}}" class="btn btn-warning">{% trans %}btn_edit{% endtrans %}</a>
        </p>
        {%endif%}
        
        <div class="clearfix"></div>
        <hr/>
    </div>
    
    <div class="clearfix"></div>
{% endfor %}

{% endblock %}