{% extends "DokkanBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Llistat Categories</h2>
        <hr/>
        <a href="{{path("dokkan_add_categoria")}}" class="btn btn-success">Afegir categoria</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <th>Nom</th>
                <th>Editar</th>
                <th>Esborrar</th>
            </tr>
            {% for categoria in categories %}
                <tr>
                    <td>{{ categoria.nom }}</td>
                    <td><a href="{{path("dokkan_edit_categoria", {"id":categoria.id})}}" class="btn btn-warning">Editar</a></td>
                    <td>
                        {% if categoria.entrades|length == 0 %}
                            <a href="{{path("dokkan_delete_categoria", {"id":categoria.id})}}" class="btn btn-danger">Eliminar</a>
                        {% else %} 
                           Categoria en uso
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}