{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}
    <center>
<div class="separator" style="clear: both; text-align: center;">
    <img src="{{asset('bundles/dokkan/img/706x150muchos.png')}}" /></div>
    <hr/>
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON WEEKLY.jpg')}}" /></a>
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON STRIKE.png')}}" /></a>
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON STORY.png')}}" /></a>
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON SPECIAL.png')}}" /></a>
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON DOKKAN.jpg')}}" /></a>
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON FLASH.png')}}" /></a>
    <hr/>
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON DAILY HORIZONTAL.jpg')}}" /></a>
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON LIMITED HORIZONTAL.jpg')}}" /></a>
    <hr/>
<div class="separator" style="clear: both; text-align: center;">
    <a href=""><img src="{{asset('bundles/dokkan/img/BOTON BONUS.jpg')}}" /></a></div>
    <p>* Clicad en el botón de la categoría a la que queréis acceder.</p>
    </center>

{% endblock %}