{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

<div style="text-align: justify;">
<div class="separator" style="clear: both; text-align: center; margin-top: 10px">
    <a href="{{url('dokkan_front_it_awakening')}}"><img border="0" height="98" src="{{asset('bundles/dokkan/img/Awakening Medals.jpg')}}" width="320" /></a>
    <a href="{{url('dokkan_front_it_support')}}"><img border="0" height="98" src="{{asset('bundles/dokkan/img/Support Items.jpg')}}" width="320" /></a></div>
<div class="separator" style="clear: both; text-align: center;">

</div>
<div class="separator" style="clear: both; text-align: center; margin: 5px">
    <a href="{{url('dokkan_front_it_training')}}"><img border="0" height="98" src="{{asset('bundles/dokkan/img/Training Items.jpg')}}" width="320" /></a>
    <a href="{{url('dokkan_front_it_locations')}}"><img border="0" height="98" src="{{asset('bundles/dokkan/img/Training Locations.jpg')}}" width="320" /></a></div>

<div style="text-align: center;">
    <p>* Clicad en el botón de la categoría a la que queréis acceder.</p></div>
</div>


{% endblock %}