<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>DB Z Dokkan Battle - Español</title>

        <!-- Favicon -->
        {#<link rel="icon" type="image/x-icon" href="{{ asset('bundles/dokkan/vendor/bootstrap/img/favicon.ico') }}" /> #}

        <!-- Bootstrap core CSS -->
        <link href="{{asset('bundles/dokkan/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{asset('bundles/dokkan/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css')}}">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- CSS de layout-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />



        {#
                {% if app.user == null%}
                <li><a href="{{path("login")}}">Entrar</a></li>
                {% else %}
                    {% if app.user != null%}   
                    Benvingut/da, {{app.user.nom}}
                {% endif%}
                <li><a href="{{path("logout")}}">Sortir</a></li>
                {% endif %}
        
        #}


        <!-- Custom styles for this template -->
        <link href="{{asset('bundles/dokkan/css/clean-blog.css')}}" rel="stylesheet">

    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                {% if app.user == null%}
                    <a class="navbar-brand" href="{{url('login')}}">Entrar</a>
                    <a class="navbar-brand" href="{{url('register')}}">Registrarse</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        Menu
                        <i class="fas fa-bars"></i>
                    </button>
                {% else %}
                    {% if app.user != null%}   
                        <a class="navbar-brand" >Bienvenido/a, {{app.user.nom}}</a>
                        <a class="navbar-brand" href="{{path("logout")}}">Salir</a>
                    {% endif%}
                {% endif %}

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url('dokkan_front_home')}}">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url('dokkan_front_personajes')}}">Personajes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url('dokkan_front_items')}}">Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url('dokkan_front_eventos')}}">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url('dokkan_front_torneos')}}">Torneos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Header -->
        <header class="masthead" style="background-image: url('bundles/dokkan/img/dragon-ball.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1> <a class="dbz" >DBZ</a> <a class="dokkan" >Dokkan</a> <a class="battle" >Battle</a></h1>
                        </div>
                    </div>
                </div>
            </div>

        </header>


        {% block content %} {% endblock %}

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Dragon Ball Z Dokkan Battle 2019</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{{asset('bundles/dokkan/vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('bundles/dokkan/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

        <!-- Custom scripts for this template -->
        <script src="{{asset('bundles/dokkan/js/clean-blog.min.js')}}"></script>

    </body>
</html>



<ul class="nav navbar-nav navbar-right">